<div class="container">
  <h1>Editing Article: <small>(make sure to save your work)</small></h1>
  <%=  render 'form' %>
  <hr>
  <ul class="inline-list">
    <li><%= link_to 'Back', article_path, class: 'btn btn-primary' %></li>
    <li><%= link_to 'Home', root_path, class: 'btn btn-primary' %>  </li>
  </ul>
</div>
