<div class="container new-article">
  <h1>New Article</h1>
  <%= render 'form' %>
  <hr>
  <ul class="inline-list">
    <li><%= link_to 'Back', articles_path, class: "btn btn-primary" %></li>
  </ul>

</div>