/*—————————————————————————————————————————
*****************Colors********************
——————————————————————————————————————————*/

$white: #ffffff;
$black: #000000;

$cobalt: #00b3b8;
$charcoal: #564757;


/*——————————————————————————————————————————
***************TYPOGRAPHY*****************
——————————————————————————————————————————*/

$header-font: "proxima-nova-soft", Helvetica, Arial, sans-serif;
$body-font: "freight-sans-pro", Helvetica, Arial, sans-serif;

$base-font-size: 14px;
$large-font-size: 1.2em;
$xlarge-font-size: 1.5em;
$xxlarge-font-size: 2em;

$base-line-height: 20px;
$large-line-height: 24px;
