form.nav-form.inline-form {
  width: 300px;
  display: inline-block;
  position: absolute;
  top: 10px;

  input[type="text"] {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    height: 35px;
    background-color: #6d6e71;
    color: white;
    font-family: "freight-sans-pro";
    font-size: 18px;
    padding: 4px;
  }
  input[type="submit"] {
    border: 1px solid $white;
    border-radius: 4px;
    color: $black;
    background-color: $white;
    padding: 6px 10px 8px;
    cursor: pointer;
  }
}
.category-search-results {
  margin-top: 100px;
}