<nav class="navbar">
  <ul>
    <li><%= link_to 'WDI Boston Fall ''14', root_path %></li>
    <% if user_signed_in? %>
    <li><%= link_to current_user.email, '#',  class: 'dropdown-toggle', data: { toggle: 'dropdown'  } %></li>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>
    <% else %>
    <li><%= link_to('Login', new_user_session_path)  %></li>
    <% end %>
  </ul>
</nav>
